body {
    padding: 2rem;
}

section{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;


}

form {
    max-width: 600px;
    margin: 0 auto;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 600px;
    margin: 0 auto;
}

.actions {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

